body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #2b2a33;
    min-height: 100vh;
    min-width: 100vw;
}

.topbar {
    min-height: 3vh;
    min-width: 100vw;
}

.maincanvas {
    min-height: 97vh;
    min-width: 100vw;
}

.box1 {
    min-width: 100vw;
}

.searchBox {
    padding-top: 10vh;
    margin: auto;

    /* border is for testing purposes only
    border: 10px solid red; */
}

.searchBar {
    display: inline-block;
    padding: 0;
    width: 30vw;
    min-width: 10vh;
    margin-left: 30vw;
    height: 2vh;
}


.searchButton {
    display: inline-block;
    margin-left: 1vw;
    width: 3vh;
}

.innerDot {
    height: 0.7vh;
    width: 0.7vh;
    margin-left: -1.16vh;
    margin-bottom: 0.13vh;
    background-color: #2b2a33;
    border: 0.3vh solid rgb(214, 214, 214);
    border-radius: 50%;
    display: inline-block;
}

.rectangle {
    height: 0.24vh;
    width: 0.7vh;
    transform: rotate(45deg);
    margin-left: -0.65vh;
    margin-bottom: -0.04vh;
    background-color: rgb(214, 214, 214);
    display: inline-block;
}